@font-face {
    font-family: unown;
    src: url(../fonts/Unown.ttf);
}
input, select{
    border: 1px solid #cccccc;
}
a {
    cursor: pointer;
}

h1 {
    font-size: 32px;
}

h2 {}

.menuBar {
    background: #FE9126;
    padding-left: 10px;
}

.menuBar a {
    display: inline-block;
    padding: 10px 34px;
    text-decoration: none;
    color: #ffffff;
}

.menuBar a:hover {
    text-decoration: underline;
}

.fLeft {
    float: left;
}

.fRigth {
    float: right;
}

.imgCont {
    width: 50%;
    height: 200px;
    position: relative;
}

.imgCont img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.imgCont a {
    position: absolute;
    top: 0;
    left: 0;
}

.fmr {
    width: 648px;
    border: 1px solid;
    display: flow-root;
    margin: 0 auto;
    margin-top: 15px;
}

.fmr h1 {
    text-align: center;
}

.fmr>div {
    width: 50%;
    /* border: 1px solid; */
    margin: 0;
    padding: 0;
}

.fmr div div label {
    display: block;
}

.fmr div div {
    margin-bottom: 5px;
}

.fmr select {
    width: 45%;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    outline: none;
}

.fmr option {
    text-align: center;
    text-align: left;
}

.fmr input {
    border-radius: 5px;
    width: 90%;
    outline: none;
    /* padding: 0 0 0 5px; */
}

.fmr p {
    margin-bottom: 10px;
}

.btnRegistro {
    padding: 5px;
    background: #FE9126;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
}

.fail {
    border-bottom:1px solid tomato;
}